<h1>Welcome to this suite <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase()==="rusty"){ %>
    <p>Good Choice</p>
<% } else {%>
    <p>Bad Choice</p>
<% } %>

<p>P.S. This is the love.ejs</p>